fastapi==0.95.1
starlette==0.26.1
casbin==1.18.2
pydantic==1.10.2
PyJWT==2.6.0
PyYAML==6.0
redis==4.5.4
Jinja2==3.1.2
inflect==6.0.4
SQLAlchemy==2.0.9
alembic==1.10.3
uvicorn==0.21.1
polib==1.2.0 
httpx==0.24.0
websockets==11.0.2
chardet==5.1.0
typing_inspect==0.8.0; python_version <= "3.11.3"
setuptools==67.7.2
python-multipart==0.0.6
itsdangerous==2.1.2