{% extends "layout.html" %} {% block head %} ${ super() } {% endblock %} {% block title %}Index{% endblock %} {% block content %}
<div id="app">
    <el-container class="layout-container-demo" style="height: 500px">
        <el-aside width="200px">
            <el-scrollbar>
                <el-menu>

                    <el-menu-item-group>
                        <template #title>Group 1</template>
                        <el-menu-item index="1-1">Option 1</el-menu-item>
                        <el-menu-item index="1-2">Option 2</el-menu-item>
                    </el-menu-item-group>

                </el-menu>
            </el-scrollbar>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <div class="toolbar">
                    <el-dropdown>
                        <el-icon style="margin-right: 8px; margin-top: 1px">
                            <setting />
                        </el-icon>
                        <template #dropdown>
              <el-dropdown-menu>
                <el-dropdown-item>View</el-dropdown-item>
                <el-dropdown-item>Add</el-dropdown-item>
                <el-dropdown-item>Delete</el-dropdown-item>
              </el-dropdown-menu>
            </template>
                    </el-dropdown>
                    <span>Tom</span>
                </div>
            </el-header>

            <el-main>
                <el-table :data="tableData" stripe style="width: 100%">
                    <el-table-column prop="date" label="Date" width="180" />
                    <el-table-column prop="name" label="Name" width="180" />
                    <el-table-column prop="address" label="Address" />
                </el-table>
            </el-main>
        </el-container>
    </el-container>
    </template>


</div>
${hello}${ _("WORLD") } {% endblock %} {% block scripts %}
<script>
    const {
        ref
    } = Vue
    const {
        Menu,
        Message,
        Setting
    } = ElementPlusIconsVue
    const IconMenu = Menu
    const {
        createApp
    } = Vue
    const {
        loadModule
    } = window['vue3-sfc-loader'];


    const app = createApp({})
    app.use(ElementPlus)

    app.component(ElementPlus.ElTable.name, ElementPlus.ElTable)
    app.component(ElementPlus.ElTableColumn.name, ElementPlus.ElTableColumn)

    app.mount('#app')
    const tableData = [{
        date: '2016-05-03',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
    }, {
        date: '2016-05-02',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
    }, {
        date: '2016-05-04',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
    }, {
        date: '2016-05-01',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles',
    }, ]




    app.use(ElementPlus)
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        // console.log(key)
        app.component(key, component)
    }
</script>
{% endblock %} {% block footer %}
<style scoped>
    .layout-container-demo .el-header {
        position: relative;
        background-color: var(--el-color-primary-light-7);
        color: var(--el-text-color-primary);
    }
    
    .layout-container-demo .el-aside {
        color: var(--el-text-color-primary);
        background: var(--el-color-primary-light-8);
    }
    
    .layout-container-demo .el-menu {
        border-right: none;
    }
    
    .layout-container-demo .el-main {
        padding: 0;
    }
    
    .layout-container-demo .toolbar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        right: 20px;
    }
</style>
{% endblock %}